.root{

    li {
        display: inline-block;
        text-align: center;
        width: 45px;
        line-height: 42px;
        border: 1px solid #666;
        border-radius: 30px;
        margin-right: 10px;

        a  {

        display: inline-block;
        }
    }
    
}